3100E_SDK/Allbins/
3100E_SDK/TOOLS/
3100E_SDK/buildtools/
3100E_SDK/xinyiNBIot_AP/.build/
3100E_SDK/xinyiNBIot_AP/.ignore/
3100E_SDK/xinyiNBIot_CP/.build/
3100E_SDK/xinyiNBIot_CP/.ignore/
*.mimgx
V3100EB10001R00C0002/AP_ELF/
V3100EB10001R00C0002/CP_ELF/
V3100EB10001R00C0002/elf/
*.pdf
*.o
*.pyc
3100E_SDK/xinyiNBIot_AP/SYSAPP/system/inc/timestamp.h
exclusive-tools/NVEditor_3100E/
exclusive-tools/Logview_R1.5.2902_mini/
**/.vscode/